@model Web.Core.UserManagement.ViewModels.ChangePasswordViewModel

@using Web.Core.UserManagement
@{
    ViewBag.Title = "تغییر کلمه عبور";
    Layout = "~/Core/Shared/_Layout.cshtml";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    تغییر کلمه عبور
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="k-rtl">
            <form asp-controller="UserManagement" asp-action="ChangePassword" id="frmChangePassword" method="post">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="CurrentPassword" class="form-control" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">خروج</button>
                        <button onclick="event.preventDefault();saveAndupdate($(this.form), $(this.form).attr('action'));"
                                class="btn btn-primary" perform="action">
                            ذخیره
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>




