@model Web.Core.UserManagement.ViewModels.ForgotPasswordViewModel

<div class="m-login__forget-password">
    <div class="m-login__head">
        <h3 class="m-login__title">بازیابی کلمه عبور</h3>
        <div class="m-login__desc">جهت بازیابی کلمه عبور، ایمیل خود را وارد نمایید:</div>
    </div>
    <form asp-controller="UserManagement" asp-action="ForgotPassword" id="forgotPassword" method="post" class="m-login__form m-form">
        <div class="form-group m-form__group">
            <input asp-for="Email" class="form-control m-input" id="m_email" type="text" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="m-login__form-action">
            <button id="m_login_forget_password_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">درخواست</button>&nbsp;&nbsp;
            <button id="m_login_forget_password_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">لغو</button>
        </div>
    </form>
</div>
@*<div class="content">
        <form asp-controller="UserManagement" id="forgotPassword" method="post" class="login-form">
            <h3 class="form-title">بازیابی کلمه عبور</h3>
            <div class="form-group">
                <label asp-for="Email" class="control-label visible-ie8 visible-ie9"></label>
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input asp-for="Email" class="form-control" type="password" autocomplete="off" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <a asp-action="Signin" class="btn"> بازگشت </a>
                <button type="submit" class="btn green pull-right"> ارسال </button>
            </div>

        </form>
    </div>
        @section scripts{
            <script>
                $(function () {
                    $('form').submit(function (e) {
                        e.preventDefault();
                        var form = $('form#forgotPassword');
                        if (!form.valid()) return;
                        $('input[type="submit"]').prop('disabled', true);
                        $.ajax({
                            url: form.attr('action'),
                            data: form.serialize(),
                            type: "Post",
                            dataType: "Json",
                            success: function (result) {
                                eval(result.content);
                                $('input[type="submit"]').prop('disabled', false);
                            },
                            error: function () {
                                toastr["error"]("خطای غیر منتظره ای رخ داده است!", "خطا");
                            }
                        });
                    });
                });
            </script>
        }
*@