@model Web.Core.UserManagement.ViewModels.UpdateProfileViewModel

<form asp-controller="UserManagement" asp-action="UpdateProfile" enctype="multipart/form-data" id="frmUpdateProfile" method="post">
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>

            <input asp-for="UserName" readonly="readonly" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="OrganizationId" class="control-label"></label>
            <select asp-for="OrganizationId" asp-items="Model.OrganizationList" title="لطفا انتخاب کنید..." data-live-search="true" class="form-control selectpicker show-tick"></select>
            <span asp-validation-for="OrganizationId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <select asp-for="Gender" class="form-control">
                <option value="">انتخاب کنید ...</option>
                <option value="True">آقا</option>
                <option value="False">خانم</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        @if (Model.Picture != null)
        {
            <div class="form-group">
                <div class="text-center">
                    <img class="img-circle" src='/uploads/user-image/@(Model.Picture ?? "no_image.png")' width="120" height="120" alt="Image" />
                    <input asp-for="Picture" />
                </div>
            </div>
        }
        <div class="form-group">
            <label asp-for="PostedFile" class="control-label"></label>
            <input asp-for="PostedFile" type="file" />
            <span asp-validation-for="PostedFile" class="text-danger"></span>
        </div>
        <input asp-for="UserId" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">خروج</button>
        <button onclick="event.preventDefault();saveAndupdateFile($(this.form), $(this.form).attr('action'));"
                class="btn btn-primary" perform="action">
            ذخیره
        </button>
    </div>
</form>