@{
    ViewBag.Title = "عدم امکان ورود";
    Layout = "~/Core/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="text-center"><h2>حساب شما توسط مدیریت بسته شده است</h2></div>

    <hr />
    <a asp-action="Signin">بازگشت به صفحه ورود</a>
</div>