@model Web.Core.UserManagement.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "تغییر کلمه عبور";
    Layout = "~/Core/Shared/_LoginLayout.cshtml";
}
<div class="content">
    <form asp-controller="UserManagement" asp-action="ResetPassword" id="resetPassword" method="post" class="login-form">
        <h3 class="form-title">تغییر کلمه عبور</h3>
        <div class="form-group">
            <label asp-for="Email" class="control-label visible-ie8 visible-ie9"></label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input asp-for="Email" class="form-control" type="text" autocomplete="off" placeholder="@Html.DisplayNameFor(m => m.Email)" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label visible-ie8 visible-ie9"></label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input asp-for="Password" class="form-control" type="text" autocomplete="off" placeholder="@Html.DisplayNameFor(m => m.Password)" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label visible-ie8 visible-ie9"></label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input asp-for="ConfirmPassword" class="form-control" type="text" autocomplete="off" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)" />
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn green-haze pull-right">
                ارسال <i class="fa fa-arrow-circle-left"></i>
            </button>
        </div>
    </form>
</div>
    @section scripts{
        <script>
        $(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                var form = $('form#resetPassword');
                if (!form.valid()) return;
                $('input[type="submit"]').prop('disabled', true);
                $.ajax({
                    url: form.attr('action'),
                    data: $("form").serialize() + "&" + window.location.search.substring(1),
                    type: "Post",
                    dataType: "Json",
                    success: function (result) {
                        eval(result.content);
                        window.location.href = result.redirect;
                        $('input[type="submit"]').prop('disabled', false);
                    },
                    error: function () {
                        toastr["error"]("خطای غیر منتظره ای رخ داده است!", "خطا");
                    }
                });
            });
        });
        </script>
    }
