@model Web.Core.UserManagement.ViewModels.SigninViewModel

@{
	ViewBag.Title = "ورود به پنل مدیریتی";
	Layout = "~/Core/Shared/_LoginLayout.cshtml";
}
<style>
	.verdana {
		font-family: Verdana !important;
	}

	.blink {
		background-color: #1c87c9;
		-webkit-border-radius: 60px;
		border-radius: 60px;
		border: none;
		color: #eeeeee;
		cursor: pointer;
		display: inline-block;
		font-size: 20px;
		padding: 10px 10px;
		text-align: center;
		text-decoration: none;
	}

	@@keyframes glowing {
		0% {
			background-color: green;
			box-shadow: 0 0 5px #2ba805;
		}

		50% {
			background-color: red;
			box-shadow: 0 0 20px #49e819;
		}

		100% {
			background-color: #2ba805;
			box-shadow: 0 0 5px #2ba805;
		}
	}

	.blink {
		animation: glowing 1300ms infinite;
	}
</style>
<div class="m-login__signin">
	<div class="m-login__head">
		<h1 class="m-login__title" style="font-size: 25px; font-weight: 600;">اداره حفاظت فناوری اطلاعات و اسناد</h1>
		<br />
		<h2 class="m-login__title" style="font-size: 20px; font-weight: 300;">ورود به سامانه سجایا</h2>
		<br />
		<h6 class="text-center">
			<a target="_blank" asp-action="SendMessage" asp-controller="GeneralReferences" style="color:yellow">اطلاع رسانی بدون لاگین</a>
		</h6>
		<h1 class="m-login__title">
			<a style="font-size: small !important; color: gold !important; display:none" class=" btn blink " asp-action="SendMessage" asp-controller="GeneralReferences">اطلاع رسانی بدون لاگین</a>
		</h1>
	</div>
	<form asp-controller="UserManagement" asp-action="Signin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="m-login__form m-form">

		<div class="form-group m-form__group">
			<input asp-for="UserName" class="form-control m-input verdana" autocomplete="off" />
		</div>
		<div class="form-group m-form__group">
			<input asp-for="Password" class="form-control m-input m-login__form-input--last verdana" autocomplete="off" />
		</div>
		<br />
		<div class="form-group m-form__group text-center">
			@*<img style="width:150px; height:100px;" src="/UserManagement/Captcha" />*@
			<img style="width:300px; height:100px;" src="/UserManagement/GetCaptchaImage" />
		</div>
		<br />
		<div class="text-center">
			<a href="/usermanagement/signin" class="btn btn-sm btn-danger">بازنشانی</a>
		</div>
		<br />
		<div class="form-group m-form__group">
			<input asp-for="Captcha" class="form-control m-input m-login__form-input--last verdana" autocomplete="off" />
		</div>
		<div class="row m-login__form-sub">
			<div class="col m--align-left m-login__form-left">
				<label class="m-checkbox  m-checkbox--light">
					<input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
					<span></span>
				</label>
			</div>
			<div class="col m--align-right m-login__form-right">
				<a href="javascript:;" id="m_login_forget_password" class="m-link">کلمه عبور خود را فراموش کرده اید؟</a>
			</div>
		</div>
		<div class="m-login__form-action">
			<button type="button" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary">ورود</button>
		</div>
	</form>
</div>
<partial name="/Core/UserManagement/Views/_ForgotPassword.cshtml" />

@section scripts{
	<script src="~/js/ui-theme/login.js" asp-append-version="true"></script>
}