@using Web.Core.TopupChannelTransactions
@{
    ViewBag.Title = "لیست تراکنش ها";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    لیست تراکنش های ثبت شده در سامانه
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="k-rtl">
            <div id="report-grid"></div>
        </div>
    </div>
</div>

<div class="k-rtl">
    <div id="report-grid"></div>
</div>

@section scripts{
        <script type="text/javascript">
            $(document).ready(function() {

                var aclFilesUploadDataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Html.Raw(Url.Action("GetRecords", "TopupChannelTransactions"))',
                            dataType: "json",
                            type: 'GET'
                        },
                        parameterMap: function(options) {
                            return `models=${kendo.stringify(options)}`;
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    error: function(e) {
                        alert(e.errorThrown);
                    },
                    pageSize: 10,
                    sort: { field: "Id", dir: "desc" },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                });
              var grid =  $("#report-grid").kendoGrid({
                    dataSource: aclFilesUploadDataSource,
                    autoBind: true,
                    scrollable: false,
                    pageable: {
                        buttonCount: 5,
                        refresh: true,
                        input: true,
                        pageSizes: [5, 10, 15, 20, 25],
                        info: true
                    },

                    sortable: true,
                    filterable: {
                        mode: "menu",
                        messages: {
                            selectedItemsFormat: "{0} آیتم انتخاب شده",
                            search: "جستجو",
                            checkAll: "انتخاب همه",
                            clear: "لغو",
                            filter: "اعمال"
                        }
                    },
                      toolbar: [
                        {
                            template:
                              `<button class="k-button" data-title="جدید" data-link="@Url.Action(nameof(TopupChannelTransactionsController.GetDetail))"><span class="k-icon k-i-add"></span>تراکنش جدید</button>&nbsp;
                                <button class="k-button" id="deleteSelection" data-url="@Url.Action(nameof(TopupChannelTransactionsController.Delete))"><span class="k-icon k-i-delete"></span>حذف انتخاب شده ها</button>`
                        },

                    ],
                    reorderable: true,
                    columnMenu: true,
                    columns: [
                        { template: "<input type='checkbox' class='checkbox' />"  ,  width:"30px"},
                        { field: "Id", hidden:true },
                        { field: "Title", title: "عنوان", media: "(min-width: 450px)" },
                        { field: "UserName", title: "کاربر ثبت کننده", media: "(min-width: 450px)" },
                        { field: "UploadDate", title: "تاریخ ثبت فایل", media: "(min-width: 450px)" },
                        { field: "Description", title: "توضیحات", media: "(min-width: 450px)" },
                        {
                            title: "عملیات",
                            template:
                            ' <a target="_blank" class="k-button" href="@Url.Action("TransactionDetailByHeader", "TopupChannelTransactions")?headerId=#:Id#"><span class="k-icon k-i-document-manager"></span>جزییات تراکنش</a>'
                        }
                    ]
                }).data("kendoGrid");
                grid.table.on("click", ".checkbox" , selectRow);
            });
        </script>
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>نام</strong>
            <p class="col-template-val">#:data.FileName#</p>
        </script>
    }