@using DomainEntities.BroadcastAggregate
@{
	ViewBag.Title = "لیست لاگ کاربران";
}
<style>
	td {
		font-family: Tahoma !important;
	}

	table {
		text-align: center !important;
	}

	.modal-content {
		width: 900px !important;
	}
</style>
<div class="m-portlet">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					لیست پیام های دریافتی
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">
		<div class="k-rtl">
			<div id="report-grid"></div>
		</div>
	</div>
</div>

<div class="k-rtl">
	<div id="report-grid"></div>
</div>


@section scripts{
	<script src="~/lib/notifyjs/notify.js"></script>
	<script type="text/javascript">
        $(document).ready(function () {

            //tableClass();

            const productsDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Html.Raw(Url.Action("GetUserLogMessageData", "GeneralReferences"))',
                    dataType: "json",
                    type: 'GET'
                },
                parameterMap: function (options) {
                    return `models=${kendo.stringify(options)}`;
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            },
            error: function(e) {
                alert(e.errorThrown);
            },
            pageSize: 10,
            sort: { field: "Id", dir: "desc" },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        });

            const grid = $("#report-grid").kendoGrid({
            dataSource: productsDataSource,
            autoBind: true,
            scrollable: false,
            pageable: {
                buttonCount: 5,
                refresh: true,
                input: true,
                pageSizes: [5, 10, 15, 20, 25],
                info: true
            },

            sortable: true,
            filterable: {
                mode: "menu",
                messages: {
                    selectedItemsFormat: "{0} آیتم انتخاب شده",
                    search: "جستجو",
                    checkAll: "انتخاب همه",
                    clear: "لغو",
                    filter: "اعمال"
                }
            },
            reorderable: true,
            columnMenu: true,
            columns: [
               { field: "Id", hidden: true },
               { field: "UserName", title: "نام کاربری", media: "(min-width: 450px)" },
               //{ field: "Controller", title: "کنترلر", media: "(min-width: 450px)" },
               //{ field: "Action", title: "اکشن", media: "(min-width: 450px)" },
				{ field: "DateActivity", title: "تاریخ", media: "(min-width: 450px)" },
                { field: "Description", title: "توضیحات", media: "(min-width: 450px)" },
				{ field: "Ip", title: "آی پی", media: "(min-width: 450px)" },
            ]
      }).data("kendoGrid");
      grid.table.on("click", ".checkbox", selectRow);
        });

	</script>
}