@*@model Web.Core.Report.ModelViews.DateRangeViewModel*@

@{
    ViewData["Title"] = "پیشخوان";
}

@section scripts
    {
    
    <script>
        jQuery(document).ready(function($) {
                $("#home").addClass('m-menu__item--active m-menu__item--open');
        });
    </script>
}
<div class="m-portlet">
</div>