@model Web.Core.AclFilesUploads.ViewModels.AclFilesUploadViewModel

<form asp-controller="AclFilesUploads" asp-action="AddDetail" id="frmAclFilesUploadsDetail" method="post" enctype="multipart/form-data">

    <div class="modal-body">
        <div class="container">
            <div class="row ">
                <input asp-for="Id" />
                <div class="form-group col-md-12">
                    <label asp-for="FileName" class="control-label"></label>
                    <input asp-for="FileName" class="form-control" />
                    <span asp-validation-for="FileName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-12">
                    <label asp-for="RouterId" class="control-label"></label>
                    <select asp-for="RouterId" asp-items="@Model.RouterSelectList" class="form-control">
                        <option value="">لطفا انتخاب کنید...</option>
                    </select>
                    <span asp-validation-for="RouterId" class="text-danger"></span>
                </div>
            </div>
            <div class="row ">

                <div class="form-group col-md-12">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <br />
                    <label asp-for="Files" class="control-label"></label>
                    <input asp-for="Files" type="file" />
                    <span asp-validation-for="Files" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
            @*<button type="button" onclick="saveOrUpdate()" class="btn btn-primary">ذخیره</button>*@
            @{ var url = Url.Action("AddDetail", "AclFilesUploads");}
            <button onclick="event.preventDefault();saveAndupdateFile($(this.form), '@url');" type="button" class="btn btn-primary" perform="action">
                ذخیره
            </button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function() {
       $("#files").kendoUpload();
    });
    function saveOrUpdate(){
        var formData = new FormData();
            formData.append("file", $("#upLoadFile")[0].files[0]);
            formData.append("FileName",$("#FileName").val());
            formData.append("Description",$("#Description").val());
            formData.append("RouterId",$("#RouterId").val());
            var _url = '@Url.Action("AddDetail", "AclFilesUploads")';
            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    update_list(result);
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }
</script>