@model string
@using Web.Core.ToDoTask
@{
    ViewBag.Title = "لیست وظایف";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    لیست وظایف ثبت شده در سامانه
                </h3>
                <h3>@(Model != null ? "جستجوی پیشرفته وظایف" : ViewBag.Title)</h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="k-rtl">
            <div id="report-grid"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action(nameof(ToDoTaskController.GetRecords), new { query = Model })',
                        type: 'GET'
                    },
                    parameterMap: function(options) {
                        return `models= ${kendo.stringify(options)}`;
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                error: function(e) {
                    alert(e.errorThrown);
                },
                pageSize: 10,
                sort: { field: "Id", dir: "desc" },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            });

            $("#report-grid").kendoGrid({
                dataSource: dataSource,
                autoBind: true,
                scrollable: false,
                pageable: {
                    buttonCount: 5,
                    refresh: true,
                    input: true,
                    pageSizes: [5, 10, 15, 20, 25],
                    info: true
                },
                sortable: true,
                filterable: {
                    mode: "menu",
                    messages: {
                        selectedItemsFormat: "{0} آیتم انتخاب شده",
                        search: "جستجو",
                        checkAll: "انتخاب همه",
                        clear: "لغو",
                        filter: "اعمال"
                    }
                },
                reorderable: true,
                columnMenu: true,
                columns: [
                    { field: "Id", hidden:true },
                    { field: "Title", title: "عنوان", media: "(min-width: 450px)" },
                    { field: "CreatorUser", title: "ایجاد کننده", media: "(min-width: 450px)" },
                    { field: "State", title: "وضعیت", media: "(min-width: 450px)", filterable: { multi: true, search: true } },
                    { field: "Priority", title: "اولویت", media: "(min-width: 450px)", filterable: { multi: true, search: true } },
                    { field: "DueDateTime", template: "#:moment(DueDateTime).format('jYYYY/jMM/jDD')#", title: "تاریخ سررسید", media: "(min-width: 450px)" },
                    {
                        field: "EntryDateTime", title: "تاریخ و زمان ثبت", media: "(min-width: 850px)",
                        template: "#:moment(DueDateTime).format('jYYYY/jMM/jDD - HH:mm:ss')#"
                    },
                    {
                        title: "جزئیات", template: kendo.template($("#responsive-column-template").html()),
                        media: "(max-width: 450px)"
                    },
                    {
                        title: "عملیات",
                        template:
                            '<button class="k-button" data-link="@Url.Action(nameof(ToDoTaskController.GetDetail))/#:Id#"><span class="k-icon k-i-edit"></span>ویرایش</button>'
                    }
                ]
            });
        });

    </script>

    <script id="responsive-column-template" type="text/x-kendo-template">
        <strong>عنوان</strong>
        <p class="col-template-val">#:data.Title#</p>

        <strong>استاندارد</strong>
        <p class="col-template-val">#:data.Standard#</p>

        <strong>تاریخ ثبت</strong>
        <p class="col-template-val">#:data.RegDateTime#</p>
    </script>
}